.idea/misc.xml
.idea/modules.xml
.idea/QgisPDS.iml
.idea/vcs.xml
.idea/workspace.xml
*.pyc
save/bblInit.c
qgis_pds_production — копия.py
.idea/encodings.xml
.idea/dictionaries/viktor.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/Project_Default_copy.xml
*.sql~
